@{
    ViewData["Title"] = "Home Page";
}


    <p class="text-center fst-italic fw-light  text-decoration-underline m-4 fs-2">Welcome to Scarpe & CO</p>
    <div class="sfondo">

    </div>
    
    <p class="text-center fst-italic fw-light  fs-3">“Le tue scarpe, il tuo equilibrio: cammina verso il benessere ad ogni passo.”</p>
    

