@{
    ViewData["Title"] = "Privacy Policy";
}
<p class="text-center fst-italic fw-light  text-decoration-underline m-4 fs-2">Privacy Policy</p>

<p class="text-center">Use this page to detail your site's privacy policy.</p>
